.hierarchical-taxonomy-wrapper {
  .taxonomy-list {
    padding: 0;
  }
  li {
    list-style: none;
  }
}

.dataTable .datatable-actions > * {
  display: inline-block;
  margin-right: 5px;
  &:last-child {
    margin-right: 0;
  }
}

.post_statuses {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    &:after {
      padding: 0 6px 0 10px;
      content: '|';
    }
    &:last-child {
      &:after {
        content: '';
        padding: 0;
      }
    }
    a {
      &.current {
        color: #1c2529;
      }
    }
  }
}